* {
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

.container{
    width: 360px;
    min-height: 90vh;
    margin: 5px auto;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

a {
    text-decoration: none;
    color: white;
    transition: all ease-in-out 0.7s ;
}

a:hover {
    
    color: green;
}

a i {
    transition: all ease-in-out 0.7s ;

    padding: 5px;
    border-radius: 50%;
}
a i:hover {
    box-shadow: 1px 1px 5px green;
}

h1 {
    text-align: center;
}

h1 i {color: green;}

main {
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;

}

.inputx {
    margin: auto;
}




.btn.dropdown-toggle  {
    width:150px;
    text-align:left;
}
/*  
span.caret {
    position: absolute;
    left: 90%;
    top: 45%;
} */

label {
    margin-top: 5px;
    padding-top:5px;
}

.form-label {
    padding-left:0px !important;
}

.cards {
    margin: 5px auto 5px auto;
    background-color: rgb(55, 55, 55);
    padding: 20px;
    border-radius: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.album-cover {
    width:150px;
    height: 130px;
    padding: 5px;
    border: 1px solid #8a8a8a;
    border-radius: 50%;
    margin-top: 5px;
    background-color: black;

}

.btn-success {
    background-color: #3b7d4a!important;
}

.btn-success:hover {
    background-color: #4daf64!important;
}


footer {
    text-align: center;
}

footer i {
    font-size: 25px;
}
footer .my-links {
    display: flex;
    justify-content: space-around;
}